.title {
  color: white;
}

.childCenter {
  margin: 10px auto;
  /* 子元素垂直水平居中 */
  height: 100%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.todoText {
  margin: 0 10px;
  font-size: 150%;
}